* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Times New Roman';
    font-weight: bold;
}

.main-box {
    border: 5px solid black;
    height: 30rem;
    width: 30rem;
    margin: auto;
    margin-top: 10vh;
    background-color: rgb(220, 220, 220);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.box-1 {
    border: 1px solid black;
    height: 20%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
    position: relative;
    animation-name: box;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.box {
    border: 1px solid black;
    height: 20%;
    width: 20%;
}

@keyframes box {
    0% {
        top: 0px;
        left: 0px;
        background-color: aqua;
        color: black;
    }
    10% {
        top: 0;
        left: 80%;
        background-color: red;
        color: yellow;
    }
    20% {
        left: 80%;
        top: 80%;
        background-color: yellow;
        color: blue;
    }
    30% {
        left: 0;
        top: 80%;
        background-color: blue;
        color: red;
    }
    40% {
        left: 0;
        top: 20%;
        background-color: green;
        color: black;
    }
    50% {
        left: 60%;
        top: 20%;
        background-color: aqua;
        color: yellow;
    }
    60% {
        left: 60%;
        top: 60%;
        background-color: red;
        color: blue;
    }
    70% {
        left: 20%;
        top: 60%;
        background-color: yellow;
        color: red;
    }
    80% {
        left: 20%;
        top: 40%;
        background-color: blue;
        color: black;
    }
    90% {
        left: 40%;
        top: 40%;
        background-color: green;
        color: yellow;
    }
    100% {
        left: 40%;
        top: 40%;
        background-color: aqua;
        color: blue;
    }
}
